<div class="background" (click)="close.emit()"></div>
<div class="card">
  <div class="title">{{!isNew?title:'Новая книга'}}<span style="color: red; font-size: 40px" *ngIf="!book">*</span></div>
  <div style="height: 20px"></div>

  <mat-form-field style="width: 80%; margin: auto">
    <input matInput placeholder="Название книги" [(ngModel)]="title" [value]="title || ''">
  </mat-form-field>

  <mat-form-field style="width: 80%; margin: auto; position: relative; left: 32px">
    <mat-label>Автор</mat-label>
    <mat-select [(value)]="author">
      <mat-option *ngFor="let topping of authors.all" [value]="topping">{{topping.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button style="position: relative; left: 42px" (click)="newAuthorModal=true">+</button>

  <mat-form-field style="width: 80%; margin: auto">
    <textarea matInput placeholder="Описание" [(ngModel)]="desc" [value]="desc || ''"></textarea>
  </mat-form-field>

  <mat-form-field style="width: 80%; margin: auto">
    <input matInput type="number" placeholder="Число страниц" [(ngModel)]="pageCount" [value]="pageCount || ''">
  </mat-form-field>

  <mat-form-field style="width: 80%; margin: auto; position: relative; left: 32px;">
    <mat-label>Язык</mat-label>
    <mat-select [(value)]="lang">
      <mat-option *ngFor="let topping of langs.all" [value]="topping">{{topping.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button style="position: relative; left: 42px" (click)="newLangModal = true">+</button>

  <mat-form-field style="width: 80%; margin: auto">
    <input matInput placeholder="Жанр" [(ngModel)]="genre" [value]="genre || ''">
  </mat-form-field>

  <div style="height: 50px"></div>
<!--  <div class="saveButton" (click)="save()" [ngClass]="{disable: !authorId||!langId}" [routerLink]="'/books-list'">Сохранить</div>-->
  <button mat-button style="width: 80%; font-size: 25px;" (click)="save()" [routerLink]="'/books-list'">Сохранить</button>
  <div style="height: 50px"></div>
  <button mat-button style="width: 40%; font-size: 12px" [routerLink]="'/books-list'">Отмена</button>
</div>
<app-new-lang-modal *ngIf="newLangModal" (close)="newLangModal=false"></app-new-lang-modal>
<app-new-author-modal *ngIf="newAuthorModal" (close)="newAuthorModal=false"></app-new-author-modal>
