.table{
  width: 90%;
  margin: auto;
  border-collapse: collapse;
}

table{
  width: 90%;
  margin: auto;
  text-align: left;
}

//.head{
//  font-size: 15px;
//  color: rgba(100, 100, 100, 0.9);
//}
//
//thead{
//  font-size: 30px;
//  font-weight: bold;
//  background: blanchedalmond;
//}
//
//td{
//  border: solid 1px;
//  font-size: 25px;
//}
//
//.tr td{
//  border: none;
//  font-size: inherit;
//}

$margin: 15px;
.addButton{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  width: calc(100% - #{$margin}*2);
  border: solid 1px;
  border-radius: 15px;
  box-shadow: 0 0 10px;
  height: 50px;
  margin: $margin;
  cursor: pointer;
}

.addButton:active{
  box-shadow: none;
}

.row{
  cursor: pointer;
}

.row:hover{
  background: rgba(0,0,0,0.04);
}

.filters{
  display: flex;
  justify-content: space-between;
  //text-align: left;
  padding: 5px;
  width: 90%;
  min-width: 1000px;
  margin: 20px auto;
  box-sizing: border-box;
  padding: 10px
}

.filterCell{
  padding: 5px;
  margin: 5px;
}

.smallInput{
  width: 40px;
  margin: 5px;
}

.activeFilter{
  box-shadow: 0 0 1px;
  border-radius: 15px;
  background: rgba(255, 255, 245, 1);
}

.resetFilter{
  font-size: 12px;
  box-shadow: 0 0 3px;
  //border-radius: 10px;
  cursor: pointer;
}

.resetFilter:active{
  box-shadow: none;
}
