<div class="filters mat-elevation-z8">
  <div style="display: flex; flex-direction: column; flex: 1">
    <mat-form-field class="example-full-width" style="flex: 1; padding: 10px;">
      <input matInput placeholder="Название / описание" [(ngModel)]="filters.titleFilter" (input)="filters.filterChanged = true">
    </mat-form-field>
    <button mat-button *ngIf="filters.titleFilter.length>0" (click)="filters.resetTitleFilter()">✕</button>
  </div>

  <div style="display: flex; flex-direction: column; flex: 1">
    <mat-form-field style="flex: 1; padding: 10px;" *ngIf="authors.length>1">
      <mat-label>Авторы</mat-label>
      <mat-select multiple (selectionChange)="filters.filterChanged = true" [(value)]="filters.authorsFilter">
        <mat-option *ngFor="let topping of authors.all" [value]="topping">{{topping.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button *ngIf="filters.authorsFilter.length>0" (click)="filters.resetAuthorsFilter()">✕</button>
  </div>

  <div style="display: flex; flex-direction: column; flex: 1">
    <mat-form-field style="flex: 1; padding: 10px;" *ngIf="langs.length>1">
      <mat-label>Языки</mat-label>
      <mat-select multiple (selectionChange)="filters.filterChanged = true" [(value)]="filters.langsFilter">
        <mat-option *ngFor="let topping of langs.all" [value]="topping">{{topping.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button *ngIf="filters.langsFilter.length>0" (click)="filters.resetLangsFilter()">✕</button>
  </div>

  <div style="display: flex; flex-direction: column; flex: 2">
    <form style="flex: 1; padding: 10px">
      <mat-form-field class="mat-form-field">
        <input matInput type="number" placeholder="Минимум страниц" [(ngModel)]="filters.pageCountFilter.min"
               (input)="filters.pageCountFilterChanged('min', $event.target.value)" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <mat-form-field class="mat-form-field" style="margin-left: 5px;">
        <input matInput type="number" placeholder="Максимум страниц" [(ngModel)]="filters.pageCountFilter.max"
               (input)="filters.pageCountFilterChanged('max', $event.target.value)"
               (change)="filters.maxCountFilterAccept($event.target.value)" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
    </form>
    <button mat-button *ngIf="filters.pageCountFilter.min!=undefined||filters.pageCountFilter.max!=undefined"
            (click)="filters.resetPageCountFilter()">✕
    </button>
  </div>

  <div style="display: flex; flex-direction: column; flex: 1">
    <mat-form-field style="flex: 1; padding: 10px;" *ngIf="books.genres.length>1">
      <mat-label>Жанры</mat-label>
      <mat-select multiple (selectionChange)="filters.filterChanged = true" [(value)]="filters.genreFilter">
        <mat-option *ngFor="let topping of books.genres" [value]="topping">{{topping.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button *ngIf="filters.genreFilter.length>0" (click)="filters.resetGenreFilter()">✕</button>
  </div>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="min-width: 1000px;">
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Название</th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>

  <ng-container matColumnDef="author">
    <th mat-header-cell *matHeaderCellDef>Автор</th>
    <td mat-cell *matCellDef="let element"> {{authors.name(element.authorId)}} </td>
  </ng-container>

  <ng-container matColumnDef="pageCount">
    <th mat-header-cell *matHeaderCellDef>Страниц</th>
    <td mat-cell *matCellDef="let element">{{element.pageCount}}</td>
  </ng-container>

  <ng-container matColumnDef="lang">
    <th mat-header-cell *matHeaderCellDef>Язык</th>
    <td mat-cell *matCellDef="let element">{{langs.name(element.langId)}}</td>
  </ng-container>

  <ng-container matColumnDef="genre">
    <th mat-header-cell *matHeaderCellDef>Жанр</th>
    <td mat-cell *matCellDef="let element">{{element.genre}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns" class="head"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="'/books-list/'+row.id" class="row"></tr>
</table>

<div class="spinner" *ngIf="books.loading">
  <mat-progress-spinner
    [color]="'primary'"
    [mode]="'indeterminate'">
  </mat-progress-spinner>
</div>

<div style="height: 10px;"></div>

<mat-paginator [length]="dataSource.data.length"
               [pageSize]="8"
               [pageSizeOptions]="" style="margin-right: 5%;" *ngIf="dataSource.data.length>=8">
</mat-paginator>

<button mat-button [routerLink]="'/books-list/new'" class="mat-elevation-z8"
        style="width: 90%; position: absolute; bottom: 20px; left: 5%">+
</button>
<router-outlet></router-outlet>
